*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.흰색유무{
    font-size:14px;
    padding:10px 15px;
    border:1px solid #ddd;
    background-color: grey;
    border-radius:5px;
    color:#fff;
    font-weight:bold;
}
#white{
    font-size:15px;
    color: black;
    
}