*{
    padding: 0;
    margin: 0;
    border: 0;
}

.menu_top .img {
    width: 12%;
    height: 10%;
    margin-top: 20px;
    margin-left: 30px;
}

.menu_top {
    margin-top: 10px;
}

.menu_top > button:hover {
    font-weight: bold;
}

.menu_top .실전사례 {
    background-color: #7a08a3;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
    width: 110px;
    height: 30px;
    margin-left: 25px;
}

.menu_top .질문답변 {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
    width: 110px;
    height: 30px;
    margin-left: 10px;
}

.menu_top .질문답변:hover {
    background-color: rebeccapurple;
}

.menu_top > div { 
    display: inline;
    float: right;
}

.menu_top .logout {
    background-color: white;
	border-radius: 6px;
	cursor: pointer;
	color: black;
	font-size: 16px;
    width: 70px;
    height: 30px;
    margin-right: 70px;
    margin-left: 20px;
}

.menu_top .logout:hover {
    font-weight: bold;
}

p {
    font-size: 17px;
    margin-left: 25px;
    margin-top: 15px;
    font-weight: bold;
}

.search_checkbox {
    margin: 10px 25px 10px 25px;
    border:2px solid; 
    padding:10px;
}

.혼합세탁 > .ans {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.혼합세탁 > .white_item > span {
    background-color: #87CEFA;
    color: black;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.혼합세탁 > .white_item {
    width: 1000px;
    margin-bottom: 15px;
    display: none;
}

.세탁사유 > .ans {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.세탁사유 > .col_reason_item > span {
    background-color: #87CEFA;
    color: black;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.세탁사유 > .col_reason_item {
    width: 1000px;
    margin-bottom: 8px;
    display: none;
}

.세탁사유 > .blemish_item > span {
    background-color: #87CEFA;
    color: black;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.세탁사유 > .blemish_item {
    width: 1000px;
    margin-bottom: 8px;
    display: none;
}

.세탁사유 > .etc_item > span {
    background-color: #87CEFA;
    color: black;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.세탁사유 > .etc_item {
    width: 1000px;
    margin-bottom: 15px;
    display: none;
}

.소재 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.색상 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.세탁물종류 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.명품 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.init_search {
    margin-left: 87.5%;
}

.init {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

.init:hover, search:hover {
    font-weight: bold;
}

.search {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
    width: 80px;
    height: 30px;
}

.search:hover {
    font-weight: bold;
}