{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>등록 선택</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"
</head>
<body>
    <a href="{% url 'k99:main' %}">
      <img class="img" src="{% static 'K99.jpg' %}">
    </a>
    <h1>관리자님 반갑습니다.</h1>
    <h3>원하시는 메뉴를 선택해 주세요.</h3><br>
    <div class="div">
        <button class="exbutton" id="realexamplebutton" onclick="location.href='realexamplemanage/'">실전사례등록</button>
        <button class="exbutton" id="qnabutton" onclick="location.href='qnamanage/'">질문답변등록</button>
    </div>
</body>
</html>