{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"
</head>
<body>
  <a href="{% url 'k99:main' %}">
      <img class="img" src="{% static 'K99.jpg' %}">
    </a>
    <h1>관리자님 반갑습니다.</h1>
    <h3>실전사례 등록을 위해 먼저 글과 사진의 url를 입력해주세요.</h3><br><br>
    <form name="frm" action="{% url 'k99:addpost' %}" method="POST" >
        {% csrf_token %}
        <div class="div">
            <div>
                <b class="realexample_description">포스트 번호</b><br>
                <input class="realexampleinput" type="text" id="pidinput" name="pidinput" placeholder="포스트 번호를 입력해주세요">
            </div>
            <div>
                <b class="realexample_description">작성자 K번호</b><br>
                <input class="realexampleinput" type="text" id="kidinput" name="kidinput" placeholder="작성자의 k번호를 입력해주세요">
            </div>
            <div>
                <b class="realexample_description">작성일시</b><br>
                <input class="realexampleinput" type="date" id="create_dateinput" name="create_dateinput" placeholder="작성일시를 입력해주세요">
            </div>
            <div>
                <b class="realexample_description">본문(글만 입력)</b><br>
                <input class="realexampleinput" type="text" id="contentinput" name="contentinput" placeholder="본문을 입력해주세요">
            </div>
            <div>
                <b class="realexample_description">사진의 url(콤마로 구분)</b><br>
                <input class="realexampleinput" type="text" id="pvurlinput" name="pvurlinput" placeholder="사진 url을 입력해주세요">
            </div>
            <button class="nextstep sub" type="submit">다음</button>
        </div>
    </form>
</body>
</html>