{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"
</head>
<body>
  <a href="{% url 'k99:main' %}">
      <img class="img" src="{% static 'K99.jpg' %}">
    </a>
    <h1>관리자님 반갑습니다.</h1>
    <h3>질문답변 등록을 위해 필요한 정보를 입력해주세요.</h3><br><br>
    <form name="frm" action="{% url 'k99:addqna' %}" method="POST" >
        {% csrf_token %}
        <div class="div">
            <input type="text" name="pid" value="{{ pid }}" style="display : none">
            <div>
                <b class="qna_description">노출할 제목 입력</b><br>
                <input class="qnainput" type="text" id="subjectinput" name="subjectinput" placeholder="제목을 입력해주세요">
            </div>
            <div>
                <b class="qna_description">카테고리 선택</b><br>
                <li class=""><label>세탁방법<input type="radio" name="category" value="세탁방법" unchecked></label></li>
                <li class=""><label>세탁약품<input type="radio" name="category" value="세탁약품" unchecked></label></li>
                <li class=""><label>도구사용법<input type="radio" name="category" value="도구사용법" unchecked></label></li>
                <li class=""><label>문제발생원인<input type="radio" name="category" value="문제발생원인" unchecked></label></li>
                <li class=""><label>기타<input type="radio" name="category" value="기타" unchecked></label></li>
            </div>
            <div>
                <b class="qna_description">교수님 글 여부 입력</b><br>
                <label>예 <input type="radio" name="prof" value=yes unchecked></label>
                <label>아니오 <input type="radio" name="prof" value=no unchecked></label>
            </div>
            <div>
                <button class="sub" type="submit" onclick="submitForm()">등록</button>
            </div>
        </div>
        <script>
		function submitForm() {
			alert("등록되었습니다.");
		}

	    </script>
    </form>
</body>
</html>