{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>메인화면</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body class="main">
    <a href="{% url 'k99:main' %}">
      <img class="img" src="{% static 'K99.jpg' %}">
    </a>
    <h1>관리자님 반갑습니다.</h1>
    <h3>원하시는 태그를 선택해 주세요.</h3><br>
    <form id="main-form">
      {% csrf_token %}
      <div class="div">
        <button class="등록" type="button" onclick="location.href='adding/'">&nbsp;&nbsp;사례관리&nbsp;&nbsp;</button><br><br>
        <button class="btn" type="button" onclick="location.href='exportlog'">&nbsp;&nbsp;검색로그 다운로드&nbsp;&nbsp;</button><br><br>
        <button class="상품조회" type="button" onclick="location.href='yearselect/'">&nbsp;&nbsp;상품조회&nbsp;&nbsp;</button><br><br>
        <button class="회원사조회" type="button" onclick="location.href='customer/'">&nbsp;&nbsp;회원사조회&nbsp;&nbsp;</button><br><br>
        <button class="상품및회원사관리" type="button" onclick="location.href='manage/'">&nbsp;&nbsp;상품및회원사관리&nbsp;&nbsp;</button><br><br>
        <button class="구매내역입력" type="button" onclick="location.href='buy'">&nbsp;&nbsp;구매내역입력&nbsp;&nbsp;</button><br><br>
        <button class="btn" type="button" onclick="location.href='export'">&nbsp;&nbsp;주문일지 다운로드&nbsp;&nbsp;</button><br><br>
      </div>
      <button class="main_logout" type="button" onclick="location.href={% url 'common:logout' %}">로그아웃</button>
    </form>
  </body>
</html>
