{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>k99 상품 관리</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="text/javascript">
        var bDisplay = true; function doDisplay(){
            var con = document.getElementById("append");
            if(con.style.display=='none'){
                con.style.display = 'block';
            }else{
                con.style.display = 'none';
            }
        }
        var bDisplay = true; function revDisplay(){
            var con = document.getElementById("revise");
            if(con.style.display=='none'){
                con.style.display = 'block';
            }else{
                con.style.display = 'none';
            }
        }
        function btn(){
            frm = document.frm;
            if (frm.productname.value ===""){
                alert("상품 이름을 입력해 주십시오.");
                {#frm.pname.select();#}
                return false;
            }
            else if (frm.productprice.value===""){
                alert("상품 가격을 입력해 주십시오.");
                {#frm.pprice.select();#}
                return false;
            }
            else if (isNaN(frm.productprice.value)){
                alert("상품 가격은 정수로 입력해 주세요.");
                {#frm.pprice.select();#}
                return false;
            }
            else {
                alert('상품이 등록되었습니다.');
                return true;
            };
        }

    </script>
</head>

<body>
    <div class="menu_top">
      <a href="{% url 'k99:main' %}">
        <img class="img" src="{% static 'K99.jpg' %}" >
      </a><br></div>
    <h1>관리자님 환영합니다.</h1>
    <h3>상품 관리 옵션을 선택하세요.</h3>
    <div class="ProductManageList">
        <button class="ProductManageButton" id="observeProduct" onclick="location.href='allproduct'">전체 상품 조회</button>
        <button class="ProductManageButton" id="appendProduct" onclick="location.href='javascript:doDisplay();'">상품 추가</button>
        <div id="append">
            <h3>상품 추가 옵션입니다.</h3>
            <form name="frm" action="{% url 'k99:add' %}" method="POST" >
                <div class="appendbox">
                {% csrf_token %}
                <p class="input_text">상품 이름 입력</p>
                <div>
                    <input class="productinput" id="nameinput" placeholder="상품 이름을 입력하세요" name="productname">
                </div>
                <p class="input_text">상품 가격 입력</p>
                <input type="number" class="productinput" id="priceinput" placeholder="상품 가격을 입력하세요" name="productprice">
                <div>
                <button class="appendsubmit" type="submit" onclick="return btn();">상품 등록</button>
                </div>
                </div>
            </form>
        </div>
        <button class="ProductManageButton" id="reviseProduct" onclick="location.href='javascript:revDisplay();'">상품 수정</button>
        <div id="revise">
            <form name="frm2" action="{% url 'k99:reviseProduct' %}" method="POST">
                {% csrf_token %}
                <h3>상품 수정 옵션입니다.</h3>
                <div class="appendbox">
                <div>
                <input type="number" class="productinput" id="productrevise" placeholder="바꿀 상품의 id를 입력하세요" name="rev_productid">
                    </div>
                <button class="appendsubmit" type="submit">상품id 검색</button>
                </div>
            </form>
        </div>
        <!-- 상품 제거 시 데이터베이스에 오류가 발생하기 때문에 상품 제거 기능은 제공되지 않습니다.-->
    </div>
</body>
</html>