{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.pname }} 상품조회</title>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="menu_top">
      <a href="{% url 'k99:main' %}">
        <img class="img" src="{% static 'K99.jpg' %}" >
          </a><br></div>
    <h1>관리자님 환영합니다.</h1>
    <h3>{{ product.pid }}번 상품인 {{ product.pname }} 상품에 대한 모든 년도의 정보입니다.</h3>
    <figure class="highcharts-figure">
      <div id="container"></div>
      <p class="highcharts-description">

      </p>
    </figure>
     <script>
        _categories = {{years|safe}};
        Highcharts.chart('container', {
        chart: {
          type: 'spline',
          scrollablePlotArea: {
             minWidth:700,
             scrollPositionX: 1
          }
        },
        title: {
          text: '연도별 구매량 통계'
        },
        xAxis: {
          categories: _categories,
            scrollbar: {
                enabled: true
                },
            labels: {
              overflow: 'justify'
            }
        },
        yAxis:[{ // First yAxis
          title: {
            text: '구매량'
          },
          labels: {
            formatter: function () {
              return this.value + 'kg';
            }
          }
        }, { // Secondary yAxis
        gridLineWidth: 0,
        title: {
          text: '구매건수',
          style: {
            color: Highcharts.getOptions().colors[0]
          }
        },
        labels: {
          formatter: function () {
              return this.value + '건';
          },
          style: {
            color: Highcharts.getOptions().colors[0]
          }
        },
        opposite: true
      }, { // Tertiary yAxis
        gridLineWidth: 0,
        title: {
          text: '판매금액',
          style: {
            color: Highcharts.getOptions().colors[1]
          }
        },
        labels: {
          formatter: function () {
              return this.value + '원';
          },
          style: {
            color: Highcharts.getOptions().colors[1]
          }
        },
        opposite: true
      }],
        tooltip: {
          crosshairs: true,
          shared: true
        },
        plotOptions: {
          spline: {
            marker: {
              radius: 4,
              lineColor: '#666666',
              lineWidth: 1
            }
          }
        },
        series: [{
          name: "구매량(kg)",
          yAxis: 0,
          marker: {
            symbol: 'square'
          },
          data: {{ buy_year_sum }}

        }, {
          name: '구매건수(건)',
          yAxis: 1,
          marker: {
            symbol: 'diamond'
          },
          data: {{ buy_year_cnt }}
        }, {
            name: '판매금액(원)',
            type: 'column',
            yAxis: 2,
            visible: false,
            marker: {
            symbol: 'diamond'
          },
          data: {{ buy_year_price }}
        }]
      });
    </script>
</body>
</html>