{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>k99 상품 정보 수정</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% if error %}
        <script type="text/javascript">
            alert("{{ message|safe }}");
            history.back();
        </script>
    {% else %}
        <script type="text/javascript">
        function btn(){
            frm = document.frm;
            if (frm.revpname.value ===""){
                alert("상품 이름을 입력해 주십시오.");
                {#frm.pname.select();#}
                return false;
            }
            else if (frm.revpprice.value===""){
                alert("상품 가격을 입력해 주십시오.");
                {#frm.pprice.select();#}
                return false;
            }
            else if (isNaN(frm.revpprice.value)){
                alert("상품 가격은 정수로 입력해 주세요.");
                {#frm.pprice.select();#}
                return false;
            }
            else {
                alert('상품이 수정되었습니다.');
                return true;
            };
            return false;
        }

    </script>
        <div class="menu_top">
          <a href="{% url 'k99:main' %}">
            <img class="img" src="{% static 'K99.jpg' %}" >
          </a><br></div>
        <h1>관리자님 환영합니다.</h1>
        <h3>{{ product.pid }}번 상품의 정보 변경 창입니다.</h3>
        <h4>변경을 원하시면 id를 제외한 부분을 선택 후 변경해주십시오.</h4>
        <form class="rev_producting" name="frm" action="{% url 'k99:revise' %}" method="POST">
            {% csrf_token %}
            <div class="appendbox">
            <p class="rev_product">상품 번호 : </p><input class="productinput" id="readonly" type="text" name="revproductid" value = "{{ product.pid }}" readonly/><label>번</label>
            <p class="rev_product">상품 이름 : </p><input class="productinput" type="text" name="revpname" value = "{{ product.pname }}" ><label></label>
            <p class="rev_product">상품 가격 : </p><input class="productinput" type="text" name="revpprice" value = "{{ product.pprice }}" ><label>원</label>
            <div>
            <button class="appendsubmit" type="submit" onclick="return btn();">상품 수정</button>
            </div>
            </div>

        </form>
    {% endif %}
</body>
</html>