{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>k99 회원사 검색</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="menu_top">
      <a href="{% url 'k99:main' %}">
        <img class="img" src="{% static 'K99.jpg' %}" >
      </a><br></div>
    <h1>관리자님 환영합니다.</h1>
    <h3>검색을 위한 회원사의 k번호를 입력한 후, 월간/연간을 선택하고 상품을 선택해주세요.</h3>
    <form class="d-flex" method="POST" action="{% url 'k99:search' %}">
            {% csrf_token %}
            <div class="box">
                <div class="container-1">
                    <input class="form-control" type="search" placeholder="K번호 입력" name="searched" aria-label="Search">
                </div>
            </div>
            <div class="box2">
            <input class="mychoice" type="radio" name="choice" id="monthsearch" value="month" checked="checked">
                <label>월간</label>
                {% for year in years %}
                    <input type="radio" name="years" id="{{ year }}" value="{{ year }}"><label class="year_month">{{ year }}년</label>
                {% endfor %}&emsp;
                <input class="mychoice" type="radio" name="choice" id="yearsearch" value="year">
                <label>연간</label>
                <div class="box3">
                    {% for product in products %}
                        <p></p><input class="productschoice" type="radio" name="product" id="product{{ product.pid }}" value="{{ product.pid }}">
                            <label>{{ product.pid }}번 상품 - {{ product.pname }}</label>
                    {% endfor %}
                        <p></p><input class="productschoice" type="radio" name="product" id="allproduct" value="all" checked="checked"><label>전체상품</label>
                </div>
            <div class="box4">
            <button class="btn-outline-success" type="submit"> Search </button>
            </div>
            </div>
    </form>
</body>
</html>