{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>소재</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="menu_top">
        <a href="{% url 'k99:main' %}">
          <img class="img" src="{% static 'K99.jpg' %}" >
        </a><br>
        <button class="실전사례" type="button" onclick="window.open('{% url 'k99:mix' %}', '_self')">세탁방법</button>
        <button class="질문답변" type="button" onclick="window.open('{% url 'k99:qna' %}', '_self')">Q & A</button>
        <div>
            <span class="hello">{{ username }}님 안녕하세요!</span>
          <button class="logout" type="button" onclick="window.open('{% url 'common:logout' %}', '_self')">로그아웃</button>
        </div>
    </div>
    <button class="guide">사용법 안내</button>
    <p class="mid-num_post">총 {{ count }}건의 검색결과</p>
    <div class="category">소재</div>
    <form class="checkbox3" method="post">
        {% csrf_token %}
        <li class="material"><label>&emsp;모피&emsp;&emsp;&emsp;&emsp;&emsp; <input type="checkbox" name="material" value="모피" unchecked></label></li>
        <li class="material"><label>&emsp;스웨이드(세무) &nbsp;<input type="checkbox" name="material" value="스웨이드" unchecked></label></li>
        <li class="material"><label>&emsp;인조가죽&emsp;&emsp;&emsp; <input type="checkbox" name="material" value="인조가죽" unchecked></label></li>
        <li class="material"><label>&emsp;모름&emsp;&emsp;&emsp;&emsp;&emsp; <input type="checkbox" name="material" value="모름" unchecked></label></li>
        <div class="move">
            <button class="prev" type="submit" name="prev_m" formaction="{% url 'k99:clothes' %}">이전</button>
            <button class="mid-search" name="mid-search" type="submit">조회</button>
            <button class="next" type="submit" name="next" formaction="{% url 'k99:material' %}">다음</button>
        </div>
    </form>


    <script type="text/javascript" src="{% static '3.1신발.js' %}"></script>
    <section class="guide_page">
        <div class="guide_wrapper">
            <img class="guide_img" src="{% static '신발소재가이드.png' %}" alt="신발 소재 가이드">
        </div>
    </section>
</body>
</html>