{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>소재</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="top">
        <a href="{% url 'k99:main' %}">
          <img class="img" src="{% static 'K99.jpg' %}" >
        </a><br>
        <div>
            <span class="hello">{{ username }}님 안녕하세요!</span>
          <button class="logout" type="button" onclick="window.open('{% url 'common:logout' %}', '_self')">로그아웃</button>
        </div>
    </div><br>
    <div class="menu_top">
        <button class="실전사례" type="button" onclick="window.open('{% url 'k99:mix' %}', '_self')">세탁방법</button>
        <button class="질문답변" type="button" onclick="window.open('{% url 'k99:qna' %}', '_self')">Q & A</button>
        <button class="guide">사용법 안내</button>
    </div>
    <p class="mid-num_post">총 {{ count }}건의 검색결과</p>
    <div class="category">소재</div>
    <form class="checkbox3" method="post">
        {% csrf_token %}
        <br>
        <li class="material"><label>&emsp;면 <input type="checkbox" name="material" value="면" unchecked></label></li>
        <li class="material"><label>&emsp;린넨 <input type="checkbox" name="material" value="린넨" unchecked></label></li>
        <li class="material"><label>&emsp;마(삼베, 모시) <input type="checkbox" name="material" value="마" unchecked></label></li>
        <li class="material"><label>&emsp;(비스코스)레이온 <input type="checkbox" name="material" value="레이온" unchecked></label></li>
        <li class="material"><label>&emsp;모달(텐벨, 리오셀, 뉴달레이온) <input type="checkbox" name="material" value="모달" unchecked></label></li>
        <li class="material"><label>&emsp;모(울, 울론) <input type="checkbox" name="material" value="모" unchecked></label></li>
        <li class="material"><label>&emsp;실크(견) <input type="checkbox" name="material" value="실크" unchecked></label></li>
        <li class="material"><label>&emsp;나일론 <input type="checkbox" name="material" value="나일론" unchecked></label></li>
        <li class="material"><label>&emsp;폴리에스테르 <input type="checkbox" name="material" value="폴리에스테르" unchecked></label></li>
        <li class="material"><label>&emsp;아크릴 <input type="checkbox" name="material" value="아크릴" unchecked></label></li>
        <li class="material"><label>&emsp;아세테이트 <input type="checkbox" name="material" value="아세테이트" unchecked></label></li>
        <li class="material"><label>&emsp;모피 <input type="checkbox" name="material" value="모피" unchecked></label></li>
        <li class="material"><label>&emsp;스웨이드(세무) <input type="checkbox" name="material" value="스웨이드" unchecked></label></li>
        <li class="material"><label>&emsp;동물털(앙고라) <input type="checkbox" name="material" value="동물털" unchecked></label></li>
        <li class="material"><label>&emsp;인조가죽 <input type="checkbox" name="material" value="인조가죽" unchecked></label></li>
        <li class="material"><label>&emsp;폴리우레탄(엘라스탄, 스판덱스) <input type="checkbox" name="material" value="폴리우레탄" unchecked></label></li>
        <li class="material"><label>&emsp;솜 <input type="checkbox" name="material" value="솜" unchecked></label></li>
        <li class="material"><label>&emsp;기타 <input type="checkbox" name="material" value="기타" unchecked></label></li>
        <li class="material"><label>&emsp;모름 <input type="checkbox" name="material" value="모름" unchecked></label></li>
        <div class="move">
            <button class="prev" type="submit" name="prev_m" formaction="{% url 'k99:clothes' %}">이전</button>
            <button class="mid-search" name="mid-search" type="submit">조회</button>
            <button class="next" type="submit" name="next" formaction="{% url 'k99:material' %}">다음</button>
        </div>
    </form>

<script type="text/javascript" src="{% static '3 소재.js' %}"></script>
    <section class="guide_page">
        <div class="guide_wrapper">
            <img class="guide_img" src="{% static '소재가이드.png' %}" alt="소재 가이드">
            <img class="guide_img" src="{% static '소재가이드2.png' %}" alt="소재 가이드2">
        </div>
    </section>
</body>
</html>