
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K99</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="top">
        <a href="{% url 'k99:main' %}">
          <img class="img" src="{% static 'K99.jpg' %}" >
        </a><br>
        <div>
            <span class="hello">{{ username }}님 안녕하세요!</span>
          <button class="logout" type="button" onclick="window.open('{% url 'common:logout' %}', '_self')">로그아웃</button>
        </div>
    </div><br>
    <div class="menu_top">
        <button class="실전사례" type="button" onclick="window.open('{% url 'k99:recipetype' %}', '_self')">세탁방법</button>
        <button class="질문답변" type="button" onclick="window.open('{% url 'k99:qna' %}', '_self')">Q & A</button>
        <button class="guide">사용법 안내</button>
    </div>
    <div class="category">키워드 검색</div>
    <div class="tmp1234">
        <h3>세탁 소재나, 세탁 사유 등 키워드를 입력하세요.</h3>
        <h3>최대한 간결하게 입력해주세요(예시 : 커피얼룩(X), 커피(O), 이염제거(X), 이염(O)).</h3>
    </div>
    <form class="checkbox2" method="post">
        {% csrf_token %}
        <div class="appendbox">
            <p class="keyword_input">키워드 검색 :</p><input class="keywordinput" type="text" name="keyword" placeholder="   키워드 입력"><label></label>

            <div class="move">
                <br><br><br><br><br><br><br><br>
                <button class="mid-search" name="mid-search" type="submit">조회</button>
            </div>

        </div>
    </form>
</body>
</html>