{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K99</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="top">
        <a href="{% url 'k99:main' %}">
          <img class="img" src="{% static 'K99.jpg' %}" >
        </a><br>
        <div>
            <span class="hello">{{ username }}님 안녕하세요!</span>
          <button class="logout" type="button" onclick="window.open('{% url 'common:logout' %}', '_self')">로그아웃</button>
        </div>
    </div><br>
    <div class="menu_top">
        <button class="실전사례" type="button" onclick="window.open('{% url 'k99:recipetype' %}', '_self')">세탁방법</button>
        <button class="질문답변" type="button" onclick="window.open('{% url 'k99:qna' %}', '_self')">Q & A</button>
        <button class="guide">사용법 안내</button>
    </div>
    <div class="category">세탁물 종류</div>
    <form class="checkbox2" method="post">
        {% csrf_token %}
        <br>
        <li class="clothe"><label>&emsp;가방&emsp;&emsp;<input type="radio" name="type" value="가방" unchecked></label></li>
        <li class="clothe"><label>&emsp;신발&emsp;&emsp;<input type="radio" name="type" value="신발" unchecked></label></li>
        <li class="clothe"><label>&emsp;옷&emsp;&emsp;&emsp;<input type="radio" name="type" value="옷" unchecked></label></li>
        <div class="move">
            <br><br><br><br><br><br><br><br>
            <button class="mid-search" name="mid-search" type="submit">조회</button>
        </div>
    </form>
    <script type="text/javascript" src="{% static '2.1 세탁물 종류.js' %}"></script>
    <section class="guide_page">
        <div class="guide_wrapper">
            <img class="guide_img" src="{% static '세탁물종류가이드.png' %}" alt="세탁물 종류 가이드">
            <img class="guide_img" src="{% static '세탁물종류가이드2.png' %}" alt="세탁물 종류 가이드2">
        </div>
    </section>
</body>
</html>