{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K99</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
</head>
<body>
    <div class="menu_top">
      <a href="{% url 'k99:main' %}">
        <img class="img" src="{% static 'K99.jpg' %}" >
      </a><br>
        <button class="실전사례" type="button" onclick="window.open('{% url 'k99:recipetype' %}', '_self')">세탁방법</button>
        <button class="질문답변" type="button" onclick="window.open('{% url 'k99:qna' %}', '_self')">Q & A</button>
      <div>
          <br>
        <span class="hello">{{ username }}님 안녕하세요!</span>
          <button class="logout" type="button" onclick="window.open('{% url 'common:logout' %}', '_self')">로그아웃</button>
      </div>
    </div>
    <br>
    <p class="num_post">총 {{ count }}건의 검색결과</p>

    {% if post_list %}
    {% for post in post_list %}
        <section>
            <br><br>
            <div class="rgyPostIt">
                <h4><b>AI 세탁법</b></h4>
                {{ post.0.comment }}
            </div>
            <article class="article">
                <h3><b class="real-title">{{ post.0.title }}</b></h3>
                <div class="post_img_wrapper">
                    {% for img in post.1 %}
                        <a href="{{ img }}" data-fancybox data-caption="{{ forloop.counter }}/{{ post.1|length }}">
                            <img class="post_img" src="{{ img }}" alt="" />
                        </a>
                    {% endfor %}
                </div>
                <p class="post" style="word-break: break-all">
                    {{ post.0.content }}
                </p>
                <hr>
                <p class="url">
                    더 자세한 내용을 확인하고 싶다면 아래 "바로가기"를 클릭해 주세요.<br>
                    <a href="https://band.us/band/86069680/post/{{ post.0.pid }}">>> 바로가기</a>
                </p>
            </article>
        </section>
    {% endfor %}
    {% else %}
    <div class="search-non">
    <tr>
        <td colspan="3">검색결과가 없습니다.</td>
    </tr>
    </div>
    {% endif %}

    <hr>
    <div class="page-nav">
        <nav class="nav">
          <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if post_list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ post_list.previous_page_number }}" aria-label="Previous">«</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous" href="#">«</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in post_list.paginator.page_range %}
            {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
            {% if page_number == post_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if post_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ post_list.next_page_number }}" aria-label="Next">»</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next" href="#">»</a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </div>
</body>
</html>