{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>로그인</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body class="login">
        <div class="intro_top">
            <img class="intro_img" src="{% static 'K99.jpg' %}" href="{% url 'k99:main' %}"><br>
            <button class="show_info">회원가입 / 로그인 안내</button>
        </div>
        <div class="login-wrapper">
            <h2>로그인</h2>
            <form method="post" action="{% url 'common:login' %}" id="login-form">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <label for="username">사용자ID </label><input type="text" name="username" placeholder="아이디" id="username" value="{{ form.username.value|default_if_none:'' }}"><br>
                <label for="password">비밀번호 </label><input type="password" name="password" placeholder="비밀번호" id="password" oninput="this.value = this.value.toUpperCase()" value="{{ form.password.value|default_if_none:'' }}">
                <input type="submit" value="로그인" id="signinbtn">
            </form>
        </div>
        <section class="info_page">
            <div class="info_wrapper">
                <img class="info_img" src="{% static '로그인.png' %}" alt="로그인 안내">
            </div>
        </section>
    <script type="text/javascript" src="{% static 'Login.js' %}"></script>
    </body>
</html>