@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
font-family : Pretendard;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

/* 인트로 */
.intro {
    text-align: center;
}

.introimg {
    width: 12%;
    height: 10%;
    align-items: center;
}

.vid {
    width: 100%;
}

/* 로그인 */
.intro_top {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    cursor: pointer;
}

.intro_img {
    width: 200px;
}

.show_info {
    background-color: #0B6DB7;
	border-radius: 4px;
	cursor: pointer;
	color: white;
	width: 170px;
    height: 25px;
    margin-left: 50%;
    font-size: 15px;
}

.show_info:hover {
    font-weight: bold;
    background-color: rebeccapurple;
}

.info_page {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    width: 100%;
    height: 100%;

}

.info_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
}

.info_img {
    width: 100%;
    /* height: 100%; */
}

.login{
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.welcome{
    margin: 30px 0px 0px 0px;
    width: 20%;
    height: 15%;
}

.login-wrapper{
    height: 300px;
    padding: 0px;
    box-sizing: border-box;
    padding-top: 100px;
}

.login-wrapper > h2{
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

#login-form > input[type="text"]{
    width: 60%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

#login-form > input[type="password"]{
    width: 60%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

#login-form > input{
    width: 70%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

#login-form > input::placeholder{
    color: #D2D2D2;
}

#login-form > input[type="submit"]{
    color: #fff;
    font-size: 20px;
    background-color: #0B6DB7;
    margin-top: 5px;
    cursor: pointer;
}

#login-form > input[type="submit"]:hover{
    font-weight: bold;
    background-color: rebeccapurple;
}

#login-form > button[type="button"] {
	background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: #ffffff;
	font-size: 20px;
    width: 70%;
    height: 42px;
}

#login-form > button[type="button"]:hover{
    font-weight: bold;
    background-color: rebeccapurple;
}

#login-form > label{
    color: #999999;
}

/* K99 로고 */
.img {
    margin-top: 20px;
    margin-left: 30px;
    width: 12%;
    height: 10%;
}

.img:hover {
    cursor: pointer;
}

/* hr */
hr {
    border: 1px #dee2e6 solid;
}

/* 회원가입 */
.text{
    background-color:aliceblue;
    border: 0px solid black;
    border-radius: 5px;
    height: 35px;
    width: 330px;
}
.name{
    font-size: 80%;
    position: relative;
}

.sing_up_title{
    font-size: 24px;
    margin-bottom: 0px;
    text-align: center;
}

.sign_up{
    width: 330px;
    height: 40px;
    background: #0B6DB7;
    border: 1px solid green;
    border-radius: 5px;
    transition: 0.25s;
    color: #fff;
    cursor: pointer
}

.회원가입{
    text-align: center;
}

/* 메인화면 */
.main > h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 160px;
    margin-bottom: 20px;
}

.main > h3 {
    text-align: center;
    font-size: 65px;
}

#main-form > div > button {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: #ffffff;
	font-size: 50px;
    width: auto;
    height: 80px;
}

#main-form > div > button:hover {
    background-color: rebeccapurple;
    font-weight: bold;
}

#main-form > div {
    text-align: center;
    margin: auto;
    display: block;
}

.main_logout {
    text-align: center;
    background-color: #C9CBD0;
	border-radius: 6px;
	cursor: pointer;
	color: black;
	font-size: 44px;
    width: 180px;
    height: 70px;
    margin: auto;
    margin-top: 1%;
    display: block;
}

.main_logout:hover {
    background-color: #3D3F49;
    color: white;
    font-weight: bold;
}

/* 메뉴 */
.top > button:hover {
    font-weight: bold;
}

.hello {
	font-size: 30px;
    width: 100px;
    margin-bottom: 5%;
}


/* 실전사례 포스트 */
.logout {
    background-color: white;
	cursor: pointer;
	color: black;
	font-size: 30px;
    width: 120px;
    height: 40px;
    margin-right: 30px;
    margin-left: 30px;
}


.top .img {
    width: 12%;
    height: 10%;
    margin-top: 20px;
    margin-left: 30px;
}

.top {
    margin-top: 10px;
}

.top > div {
    float: right;
}

.top .logout {
    background-color: white;
	cursor: pointer;
	color: black;
	font-size: 30px;
    width: 120px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.top .logout:hover {
    font-weight: bold;
}

.menu_top {
    margin: 10% auto 1% auto;
    text-align: center;
}

.menu_top:hover {
    font-weight: bold;
}

.menu_top .실전사례 {
    background-color: rebeccapurple;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 50px;
    width: 220px;
    height: 80px;
}

.menu_top .실전사례:hover {
    font-weight: bold;
}

.menu_top .질문답변 {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 50px;
    width: 220px;
    height: 80px;
}

.menu_top .질문답변:hover {
    background-color: rebeccapurple;
    font-weight: bold;
}

.real-title {
    font-size: 60px;
}

.num_post {
    margin-top: 1%;
    text-align: center;
    margin-bottom: -1%;
    font-size: 80px;
    font-weight: bold;
}

.search-non {
    text-align: center;
    margin-top: 5%;
    font-size: 70px;
}

.mid-num_post {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.article {
    width: 80%;
    border: 3px solid #0B6DB7;
    margin-top: 50px;
    margin-left: 50%;
    margin-bottom: 50px;
    transform: translateX(-50%);
}

.article .post_img_wrapper {
    text-align: center;
    margin-top: 1%;
}

.article .post_img_wrapper .post_img {
    width: 40%;
}

.article > h3 {
    text-align: center;
    font-size: 25px;
}

.post {
    margin-left: 2%;
    width: 90%;
    font-size: 350%;
    line-height: 90px;
}

.url {
    margin-left: 2%;
    width: 93%;
    font-size: 40px;
    line-height: 180%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bold;
}

.pagination {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40%;
    transform: translateX(-30%);
}

.pagination > li {
    font-size: 50px;
    list-style: none;
    margin-bottom: 5px;
    padding: 3px 10px;
    border: 1px solid #dee2e6;
    display: inline-block;
}

.page-link {
    text-decoration: none;
}

.page-nav {
    width: 98%;
    padding: 1px;
}

.nickname {
    font-size: 20px;
}

/* 실전사례 검색 공통 */
.category {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 60%;
    display: block;
    padding: 1%;
    border-radius: 10px;
    font-size: 100px;
    margin: 7% auto 3% auto;
}

.move {
    text-align: center
}

.next {
    background-color: #C9CBD0; /* #0B6DB7; */
	border-radius: 15px;
	cursor: pointer;
	color: black;
	font-size: 700%;
    width: 50%;
    height: 20%;
    float: center;
    margin-bottom: 7%;
}

.next:hover {
    font-weight: bold;
}

.혼합_next {
    background-color: #0B6DB7;
	border-radius: 15px;
	cursor: pointer;
	color: white;
	font-size: 700%;
    width: 50%;
    height: 20%;
    float: center;
    margin-top: 15%;
    margin-bottom: 7%;
}

.혼합_next:hover {
    font-weight: bold;
}

.prev {
    background-color: #C9CBD0;
	border-radius: 15px;
	cursor: pointer;
	color: black;
	font-size: 700%;
    width: 50%;
    height: 20%;
    float: center;
    margin-top: 10%;
    margin-bottom: 7%;
}

.prev:hover {
    font-weight: bold;
}

.prev1 {
    background-color: #C9CBD0;
	border-radius: 15px;
	cursor: pointer;
	color: black;
	font-size: 700%;
    width: 50%;
    height: 20%;
    float: center;
    margin-top: 15%;
    margin-bottom: 7%;
}

.prev1:hover {
    font-weight: bold;
}

.mid-search {
    background-color: #3D3F49;/* rebeccapurple; */
	border-radius: 15px;
	cursor: pointer;
	color: white;
	font-size: 700%;
    width: 50%;
    height: 20%;
    float: center;
    margin-bottom: 5%;
}

.mid-search:hover {
    font-weight: bold;
}

.search {
    background-color: rebeccapurple;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 250%;
    width: 10%;
    height: 20%;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.search:hover {
    font-weight: bold;
}

/* 혼합세탁 */
.checkbox1 > label {
    font-size: 65px;
    font-weight: bold;
}

.checkbox1 > label > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

.checkbox1 {
    text-align: center;
}

.white_item {
    display: none;
    text-align: center;
}

.white_item > span{
    background-color: #87CEFA;
    color: black;
    text-align: center;
    width: 60%;
    display: block;
    padding: 1%;
    border-radius: 10px;
<<<<<<< HEAD
    font-size: 100px;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 3%;
=======
    font-size: 80px;
    margin: 10% auto 3% auto;
>>>>>>> 0ff93a130936f3a024c05f46e27d18aacd5edd8e
    font-weight: bold;
}

.white_item > label {
<<<<<<< HEAD
    font-size: 65px;
=======
    font-size: 50px;
>>>>>>> 0ff93a130936f3a024c05f46e27d18aacd5edd8e
    font-weight: bold;
}

.white_item > label > input {
    border-radius: 50%;
<<<<<<< HEAD
    width: 4em;
    height: 4em;
=======
    width: 3em;
    height: 3em;
>>>>>>> 0ff93a130936f3a024c05f46e27d18aacd5edd8e
}

/* 세탁물종류 */
.checkbox2 {
    margin-top: 3%;
}

.checkbox2 > li {
    margin-left: 30%;
}

.checkbox2 > li > label {
    font-size: 400%;
    font-weight: bold;
}

.checkbox2 > li > label > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

/* 소재 */
.checkbox3 {
    margin-top: 3%;
}

.checkbox3 > li {
    margin-left: 30%;
}

.checkbox3 > li> label {
    font-size: 400%;
    font-weight: bold;
}

.checkbox3 > li > label > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

.dup_possible {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    
}

/* 색상 */
.checkbox4 {
    margin-top: 3%;
}

.checkbox4> li {
    margin-left: 30%;
}

.checkbox4 > li> label {
    font-size: 400%;
    font-weight: bold;
}

.checkbox4 > li > label > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

/* 세탁사유 */
.checkbox5 {
    margin-top: 3%;
}

.checkbox5 > li {
    margin-left: 30%;
}

.checkbox5 > li > label {
    font-size: 350%;
    font-weight: bold;
}

.checkbox5 > li > label > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

/* 명품 */
.checkbox6 > label {
    font-size: 450%;
    font-weight: bold;
}

.checkbox6 > label > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

.checkbox6 {
    margin-top: 3%;
    text-align: center;
}

/* 세부사유 */
.col_reason_item {
    display: none;
    text-align: center;
}

.col_reason_item > span{
    background-color: #87CEFA;
    color: black;
    text-align: center;
    width: 60%;
    display: block;
    padding: 1%;
    border-radius: 10px;
    font-size: 65px;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 2%;
    font-weight: bold;
}

.col_reason_item > label {
    font-size: 55px;
    font-weight: bold;
    text-size-adjust: 100%;
}

.col_reason_item > label > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

.blemish_item {
    display: none;
    text-align: center;
}

.blemish_item > span{
    background-color: #87CEFA;
    color: black;
    text-align: center;
    width: 60%;
    display: block;
    padding: 1%;
    border-radius: 10px;
    font-size: 65px;
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 2%;
    font-weight: bold;
}

.blemish_item> label {
    font-size: 55px;
    font-weight: bold;
    text-size-adjust: 100%;
}

.blemish_item > label > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}
.etc_item {
    display: none;
    text-align: center;
}

.etc_item > span{
    background-color: #87CEFA;
    color: black;
    text-align: center;
    width: 40%;
    display: block;
    padding: 1%;
    border-radius: 10px;
    font-size: 65px;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 2%;
    font-weight: bold;
}

.etc_item > label {
    font-size: 55px;
    font-weight: bold;
    text-size-adjust: 100%;
}

.etc_item > label > input {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}

/* 질문답변 Q & A 페이지 */
.QA .menu_top {
    margin: 10% auto 1% auto;
    text-align: center;
}

.QA .menu_top:hover {
    font-weight: bold;
}

.QA .menu_top .실전사례 {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 50px;
    width: 220px;
    height: 80px;
}

.QA .menu_top .실전사례:hover {
    background-color: rebeccapurple;
    font-weight: bold;
}

.QA .menu_top .질문답변 {
    background-color: rebeccapurple;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 50px;
    width: 220px;
    height: 80px;
}

.QA .menu_top .질문답변:hover {
    font-weight: bold;
}

.search_wrapper {
    height: 45px;
    width: 600px;
    border: 2px solid #0B6DB7;
    margin-top: 5%;
    margin-left: 25%;
}

.search_box {
    font-size: 20px;
    width: 325px;
    border: 0px;
    outline: none;
    padding: 10px;
    float: left;
}

.search_btn {
    width: 100px;
    height: 100%;
    border: 0px;
    background: #0B6DB7;
    outline: none;
    float: right;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.search_btn:hover {
    font-weight: bold;
}

.QA_category {
    margin-top: 6%;
}

.QA_category > p {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.QA_category > button {
	border-radius: 6px;
    background-color: #DCDCDC;
	cursor: pointer;
	font-size: 80px;
    width: 60%;
    height: 180px;
    margin: auto;
    display: block;
}

.QA_category > button:hover{
    font-weight: bold;
    background-color: #A9A9A9;
}

/* 회원가입안내 */
.join_guide .menu_top {
    margin: 10% auto 1% auto;
    text-align: center;
}

.join_guide .menu_top:hover {
    font-weight: bold;
}

.join_guide .menu_top .실전사례 {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 50px;
    width: 220px;
    height: 80px;
}

.join_guide .menu_top .실전사례:hover {
    background-color: rebeccapurple;
    font-weight: bold;
}

.join_guide .menu_top .질문답변 {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 50px;
    width: 220px;
    height: 80px;
}

.join_guide .menu_top .질문답변:hover {
    background-color: rebeccapurple;
    font-weight: bold;
}

.join_guide > p {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    line-height: 180%;
    margin-top: 10%;
}

.join_guide .second_line {
    font-size: 35px;
    margin-top: 4%;
}

/* 사용법 가이드*/
.guide {
    background-color: #C9CBD0;/* #0B6DB7; */
	border-radius: 10px;
	cursor: pointer;
	color: black;
	width:46%;
    height: 100px;
    font-size: 60px;
    margin: 1% auto;
}

.guide:hover {
    font-weight: bold;
    color: white;
    background-color: #3D3F49;
}

.guide_page {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.guide_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.guide_img {
    width: 100%;
    height: 100%;
}

/* 등록시 */
.addwhite_item{
    display: none;
}

.addcol_reason_item{
    display: none;
}

.addblemish_item {
    display: none;
}
.addetc_item {
    display: none;
}

/* admin */

.productslist > li:before{
    content: ">";
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
}

.productslist > li {
    padding: 10px 5px 6px 0px;
    text-align: center;
}

.productslist > li > a{
    color: black;
}

.productslist > p {
    font-size : 10px;
    text-align: center;
}


#main-form > li > button:hover {
    background-color: rebeccapurple;
}

.div {
    text-align: center;
}

.container {
    text-align: center;
}

.ProductManageList {
    text-align: center;
}

.back {
    display: flex;
    float : right;
    margin-right: 20px;
    text-align: right;
}

.yearslist {
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.productslist {
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.form-control {
    font-family: 'Do Hyeon', sans-serif;
    left: 15px;
    top: 22px;
    margin: 0;
}

.container-1{

    margin: 20px auto;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
}

.box2{
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
    /*display: inline;*/
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 5px;
    text-align: center;
}

.box{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box3{
    /*display: flex;*/
    color: #6d6d6d;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.box2 .year_month{
    font-size: 24px;
}

.box3 .productschoice {
    font-family: 'Do Hyeon', sans-serif;
    display: inline;
}
.box4{
    display: flex;
    color: #6d6d6d;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.form-control{

    font-family: 'Do Hyeon', sans-serif;
  width: 300px;
  height: 50px;
  background: #d3d3d3;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#monthsearch{
    display: inline;
    margin: 20px auto;
    /*padding: 0 0 0 20;*/
}

.btn-outline-success {
    font-family: 'Do Hyeon', sans-serif;
    display: inline;
    width: 50px;
    height: 30px;
    border: 0px;
    background: #1b5ac2;
    /*float: right;*/
    color: #ffffff;
    margin: 20px auto;
    cursor: pointer;
}

#observeProduct  {
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;
    width: 300px;
    height: 50px;
    background: #6b6b6b;
    color: #ffffff;
    cursor: pointer;
}

#observeCustomer  {
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;
    width: 300px;
    height: 50px;
    background: #6b6b6b;
    color: #ffffff;
    cursor: pointer;
}

#appendProduct {
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;
    width: 300px;
    height: 50px;
    background: #6b6b6b;
    color: #ffffff;
}

#appendCustomer{
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;
    width: 300px;
    height: 50px;
    background: #6b6b6b;
    color: #ffffff;
}

#reviseProduct {
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;
    width: 300px;
    height: 50px;
    background: #6b6b6b;
    color: #ffffff;
}

#reviseCustomer {
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;
    width: 300px;
    height: 50px;
    background: #6b6b6b;
    color: #ffffff;
}

#deleteCustomer {
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;
    width: 300px;
    height: 50px;
    background: #6b6b6b;
    color: #ffffff;
}


.input_text{
    font-family: 'Do Hyeon', sans-serif;
    font-size : 20px;
    margin: 10px auto;
}

.productinput  {
    display:inline-block;
    font-family: 'Do Hyeon', sans-serif;
    width: 300px;
  height: 50px;
  background: #d3d3d3;
  border: none;
  font-size: 13pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


#readonly{
    opacity: .5;
}

.appendsubmit {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 0px;
    background: #1b5ac2;
    color: #ffffff;
    margin: 20px auto;
    cursor: pointer;
}

.appendbox{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100%;
    text-align: center;
}

#append {
    display: none;
    text-align: center;
}

#revise {
    display: none;
    text-align: center;
}

#delete {
    display: none;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
th {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 45px;
    background-color: lavender;
}
th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }

td {
    font-size: 40px;
}

th:first-child, td:first-child {
    border-left: none;
}

.rev_product {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    margin: 10px auto;
}

.rev_customer{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    margin: 10px auto;
}

.buy_customer{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
    margin: 10px auto;
}

.labeltable{
    margin-top: 30px;
    margin-bottom: 5px;
    display: inline-block;
}


h1 {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.ans {
    font-family: 'Do Hyeon', sans-serif;
    font-size : 30px;

}

span.detailans {
    font-family: 'Do Hyeon', sans-serif;
    font-size : 15px;
    font-weight : bold;
}

.sub {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 0px;
    background: #1b5ac2;
    color: #ffffff;
    margin: 20px auto;
    cursor: pointer;
    float: right;
}

.exbutton {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: #ffffff;
	font-size: 30px;
    width: 250px;
    height: 50px;
}
.qnainput  {
    display:inline-block;
    font-family: 'Do Hyeon', sans-serif;
    width: 300px;
  height: 50px;
  background: #d3d3d3;
  border: none;
  font-size: 13pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.realexampleinput  {
    display:inline-block;
    font-family: 'Do Hyeon', sans-serif;
    width: 300px;
  height: 50px;
  background: #d3d3d3;
  border: none;
  font-size: 13pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}