{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보 등록(로그인)</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="menu_top">
      <a href="{% url 'k99:main' %}">
        <img class="img" src="{% static 'K99.jpg' %}" >
      </a><br>
        <button class="실전사례" type="button" onclick="window.open('{% url 'k99:mix' %}', '_self')">세탁방법</button>
        <button class="질문답변" type="button" onclick="window.open('{% url 'k99:qna' %}', '_self')">Q & A</button>
      <div>
            <button class="logout" type="button" onclick="window.open('{% url 'common:logout' %}', '_self')">로그아웃</button>
      </div>
    </div>
    <form class="checkbox1" method="post">
        {% csrf_token %}
        <p class="input_text">회원 아이디</p>
            <div>
                <input class="IDinput" id="IDinput" placeholder="회원 아이디를 입력하세요" name="IDinput">
            </div>
        <p class="input_text">회원 비밀번호</p>
            <div>
                <input class="PWinput" id="PWinput" placeholder="회원 비밀번호를 입력하세요" name="PWinput">
            </div>
        <p class="input_text">회원 이름</p>
            <div>
                <input class="knameinput" id="knameinput" placeholder="회원 이름을 입력하세요" name="knameinput">
            </div>
        <p class="input_text">회원 KID</p>
            <div>
                <input class="KIDinput" id="KIDinput" placeholder="회원의 Kid를 입력하세요" name="KIDinput">
            </div>
        <p class="input_text">주소</p>
            <div>
                <input class="doeinput" id="doeinput" placeholder="도" name="doeinput">
                <input class="sigunguinput" id="sigunguinput" placeholder="시/군/구" name="sigunguinput">
                <input class="donginput" id="donginput" placeholder="동" name="donginput">
                <input class="sangseinput" id="sangseinput" placeholder="상세" name="sangseinput">
                <input class="zipcodeinput" id="zipcodeinput" placeholder="우편번호" name="zipcodeinput">
            </div>
        <p class="input_text">가게명</p>
            <div>
                <input class="snameinput" id="snameinput" placeholder="가게명을 입력하세요" name="snameinput">
            </div>
        <p class="input_text">기타사항</p>
            <div>
                <input class="noteinput" id="noteinput" placeholder="기타세부사항을 입력하세요" name="noteinput">
            </div>
        <p class="input_text">연락처</p>
            <div>
                <input class="cphoneinput" id="cphoneinput" placeholder="연락처(전화번호)를 입력하세요(ex. 010-XXXX-XXXX)" name="cphoneinput">
            </div>
        <p class="input_text">회원 등록 날짜</p>
            <div>
                <input class="cdateinput" type="date" id="cdateinput" placeholder="회원 등록 날짜를 입력하세요" name="cdateinput">
            </div>
        <p class="input_text">회원 등급</p>
            <div>
                <label>정회원 <input type="radio" name="regularinput" value="true" unchecked></label>
                <label>&emsp;준회원 <input type="radio" name="regularinput" value="false" unchecked></label>
            </div>
        <div class="move">
            <button class="appendsubmit" name="create" type="submit">회원 계정 등록</button>
        </div>
    </form>
  </body>
</html>