*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.welcome{
    margin: 330px 280px;
    font-size: 30px;
    font-weight: bold;
}

.login-wrapper{
    width: 600px;
    height: 300px;
    padding: 0px;
    box-sizing: border-box;
    margin: -500px 900px;
}

.login-wrapper > h2{
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}
#login-form > input{
    width: 50%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

#login-form > input::placeholder{
    color: #D2D2D2;
}

#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 5px;
    cursor: pointer;
}

#login-form > button[type="button"] {
	background-color: #6A24FE;
	border-radius: 6px;
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
    width: 50%;
    height: 42px;
}

#login-form > label{
    color: #999999;
}

#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#login-form input[type="checkbox"]:checked + label{
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}
