{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>세탁물 종류</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="menu_top">
        <a href="{% url 'k99:main' %}">
          <img class="img" src="{% static 'K99.jpg' %}" >
        </a><br>
        <button class="실전사례" type="button" onclick="window.open('{% url 'k99:mix' %}', '_self')">세탁방법</button>
        <button class="질문답변" type="button" onclick="window.open('{% url 'k99:qna' %}', '_self')">Q & A</button>
        <div>
            <span class="hello">(회원이름)님 안녕하세요!</span>
          <button class="logout" type="button" onclick="window.open('{% url 'k99:main' %}', '_self')">로그아웃</button>
        </div>
    </div>
    <p class="mid-num_post">총 {{ count }}건의 검색결과</p>
    <div class="category">세탁물 종류</div>
    <form class="checkbox2" method="post">
        {% csrf_token %}
        <li class="clothe"><label>&emsp;상의&emsp;&emsp;<input type="radio" name="type" value="상의" unchecked></label></li>
        <li class="clothe"><label>&emsp;하의&emsp;&emsp;<input type="radio" name="type" value="하의" unchecked></label></li>
        <li class="clothe"><label>&emsp;원피스&emsp;<input type="radio" name="type" value="원피스" unchecked></label></li>
        <li class="clothe"><label>&emsp;겉옷&emsp;&emsp;<input type="radio" name="type" value="겉옷" unchecked></label></li>
        <li class="clothe"><label>&emsp;패딩&emsp;&emsp;<input type="radio" name="type" value="패딩" unchecked></label></li>
        <li class="clothe"><label>&emsp;가방&emsp;&emsp;<input type="radio" name="type" value="가방" unchecked></label></li>
        <li class="clothe"><label>&emsp;신발&emsp;&emsp;<input type="radio" name="type" value="신발" unchecked></label></li>
        <li class="clothe"><label>&emsp;모자&emsp;&emsp;<input type="radio" name="type" value="모자" unchecked></label></li>
        <li class="clothe"><label>&emsp;한복&emsp;&emsp;<input type="radio" name="type" value="한복" unchecked></label></li>
        <li class="clothe"><label>&emsp;기타&emsp;&emsp;<input type="radio" name="type" value="기타" unchecked></label></li>
        <div class="move">
            <button class="prev" name="prev" type="submit" formaction="{% url 'k99:mix' %}">이전</button>
            <button class="mid-search" type="submit" onclick="window.open('{% url 'k99:recipe' %}','_self')">조회</button>
            <button class="next" name="next" type="submit" formaction="{% url 'k99:clothes' %}">다음</button>
        </div>
    </form>
    <script type="text/javascript" src="{% static '2.1세탁물 종류.js' %}"></script>
</body>
</html>