{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문답변</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="QA">
    <div class="menu_top">
        <a href="{% url 'k99:main' %}">
          <img class="img" src="{% static 'K99.jpg' %}" >
        </a><br>
        <button class="실전사례" type="button" onclick="window.open('{% url 'k99:mix' %}', '_self')">세탁방법</button>
        <button class="질문답변" type="button" onclick="window.open('{% url 'k99:qna' %}', '_self')">Q & A</button>
        <div>
          <span class="hello">{{ username }}님 안녕하세요!</span>
          <button class="logout" type="button" onclick="window.open('{% url 'common:logout' %}', '_self')">로그아웃</button>
        </div>
    </div>
    <div>
        <form id="search-form" method="post" action="{% url 'k99:qna_category' %}">
            {% csrf_token %}
<!--            <div class="search_wrapper">-->
<!--                <input class="search_box" type="text" placeholder=" 검색어 입력">-->
<!--                <button class="search_btn" type="submit">검색</button>-->
<!--            </div>-->
            <br><br>
            <div class="QA_category">
                <button type="submit" name="recipe">#세탁방법</button>
                <button type="submit" name="chemical">#세탁약품</button>
                <button type="submit" name="tool">#도구사용법</button>
                <button type="submit" name="problem">#문제발생원인</button>
                <button type="submit" name="etc">#기타</button>
            </div>
        </form>
    </div>
</body>
</html>