{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문답변</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
</head>
<body class="QA">
    <div class="menu_top">
        <a href="{% url 'k99:main' %}">
          <img class="img" src="{% static 'K99.jpg' %}" >
        </a><br>
        <button class="실전사례" type="button" onclick="window.open('{% url 'k99:mix' %}', '_self')">세탁방법</button>
        <button class="질문답변" type="button" onclick="window.open('{% url 'k99:qna' %}', '_self')">Q & A</button>
        <div>
          <span class="hello">{{ username }}님 안녕하세요!</span>
          <button class="logout" type="button" onclick="window.open('{% url 'common:logout' %}', '_self')">로그아웃</button>
        </div>
    </div>

    <section>
        <article class="article">
            <h3><b>{{ post.2 }}</b></h3>
            <div class="post_img_wrapper">
                {% for img in post.1 %}
                    <a href="{{ img }}" data-fancybox data-caption="{{ forloop.counter }}/{{ post.1|length }}">
                        <img class="post_img" src="{{ img }}" alt="" />
                    </a>
                {% endfor %}
            </div>
            <p class="post">
                {{ post.0.content }}
            </p>
            <hr>
            <p class="url">
                더 자세한 내용을 확인하고 싶다면 아래 링크를 클릭해 주세요.<br>
                <a href="https://band.us/band/86069680/post/{{ post.0.pid }}">https://band.us/band/86069680/post/{{ post.0.pid }}</a>
            </p>
        </article>
    </section>
</body>
</html>