*{
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    margin-top: 20px;
    margin-left: 30px;
}

h1 {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}

#main-form > div > button {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: #ffffff;
	font-size: 30px;
    width: 180px;
    height: 50px;
    margin: 25px;
}

div {
    text-align: center;
}

.logout {
    text-align: center;
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
    width: 80px;
    height: 30px;
    margin-left: 47.5%;
}