*{
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    margin-top: 20px;
    margin-left: 30px;
}

.menu {
    margin-top: 10px;
}

.menu > button:hover {
    font-weight: bold;
}

.실전사례 {
    background-color: #7a08a3;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
    width: 110px;
    height: 30px;
    margin-left: 25px;
}

.질문답변 {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
    width: 110px;
    height: 30px;
    margin-left: 10px;
}

.질문답변:hover {
    background-color: rebeccapurple;
}

.menu > div { 
    display: inline;
    float: right;
}

.logout {
    background-color: white;
	border-radius: 6px;
	cursor: pointer;
	color: black;
	font-size: 16px;
    width: 70px;
    height: 30px;
    margin-right: 70px;
    margin-left: 20px;
}

.logout:hover {
    font-weight: bold;
}

p {
    font-size: 17px;
    margin-left: 25px;
    margin-top: 15px;
    font-weight: bold;
}

details {
    display:inline-block;
    border: 1px solid;
    padding: 2px;
}

.checkbox {
    margin: 10px 25px 10px 25px;
    border:2px solid; 
    padding:10px;
}

.혼합세탁 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.혼합세탁 #details_item {
    width: 100px;
    font-size: 15px;
    display: none;
}


.세탁사유 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.소재 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.색상 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.세탁물종류 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.명품 > div {
    background-color: rgb(1, 44, 124);
    color: white;
    text-align: center;
    width: 90px;
    display: inline-block;
    padding: 2px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.search {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
    width: 80px;
    height: 30px;
    margin-left: 94%;
}

.search:hover {
    font-weight: bold;
}