*{
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    margin-top: 20px;
    margin-left: 30px;
}

.menu {
    margin-top: 10px;
}

.실전사례 {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
    width: 110px;
    height: 30px;
    margin-left: 25px;
}

.질문답변 {
    background-color: #0B6DB7;
	border-radius: 6px;
	cursor: pointer;
	color: white;
	font-size: 20px;
    width: 110px;
    height: 30px;
    margin-left: 10px;
}

.info {
    background-color: white;
	border-radius: 6px;
	cursor: pointer;
	color: black;
	font-size: 16px;
    width: 70px;
    height: 30px;
    margin-left: 68%;
}

.logout {
    background-color: white;
	border-radius: 6px;
	cursor: pointer;
	color: black;
	font-size: 16px;
    width: 70px;
    height: 30px;
    margin-left: 15px;
}

.menu > button:hover {
    font-weight: bold;
}

p {
    font-size: 17px;
    margin-left: 25px;
    margin-top: 15px;
    font-weight: bold;
}